html, body {
    padding: 0;
    margin: 0;
    background: #333;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 26px;
    tab-size: 2;
    font-family: 'Special Elite', cursive;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 900px;
}

.textbox {
    min-height: 500px;
    box-sizing: border-box;
}

div {
    display: block;
}

.parallax_img {
    background-image: url(../img/unwound02.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}